* {
    -webkit-user-select: none;
}

a {
    -webkit-touch-callout: none;
}

/* Modify page transition time*/
.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 250ms !important;
}

.page .body {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    overflow: auto;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
	color: white;
}

.header {
    position: relative;
	width: 100%;
	height: 55%;
	background:url(../img/logo.png) no-repeat center;
	background-size: 170px 200px;
}

.header .title {
    position: absolute;
	bottom: 10%;
	width: 100%;
    font-size: 30px;
    text-align: center;
}

.list {
	width: 100%;
	height: 45%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
}

.list li {
    position: relative;
	margin: 10px 10px 0px 10px;
}

/* Increase list item tap area */
.list li > a {
    position: relative;
    display: block;
	text-align:center;
    padding: 10px;
    color: inherit;
    background-color: #29416B;
    border: 1px solid #0e5895;
    border-radius: 2px;
}

.list li > a:active {
    background-color: #55429A;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.robot {
    padding: 12px;
}

.robot>img {
    float: left;
    width: 150px;
    height: 150px;
}

.robot > p {
    clear: both;
}
/*
.ui-content {
    padding: 0 !important;
}

.ui-listview {
    margin: 0 !important;
}

#list-wrapper, #list-wrapper div.iscroll-scroller {
    width: 100% !important;
}*/
#list-wrapper li {
	-webkit-transform : translateZ(0); 
	-o-transform : translateZ(0); 
	-moz-transform : translateZ(0); 
	transform : translateZ(0);
	list-style: none;
}
#list-wrapper li a {
	border-style: solid;
	border-width: 1px 0 0;
	margin: 0;
	display: block;
	position: relative;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-right: 2.5em;
	-webkit-user-select: none;
}