* {
    -webkit-user-select: none;
}

a {
    -webkit-touch-callout: none;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 44px;
    background: #109adc;
    color: #FFFFFF;
    border-bottom: 1px solid #0E5895;
	z-index: 1;
}

header h1 {
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    margin: 0px;
}

header .btn {
    padding: 0px 12px 0px 12px;
    position: absolute;
    top: 5px;
    left: 8px;
    /*line-height: 28px;*/
    line-height: 32px;
    color: #fff;
    background-color: #0984c6;
    border: 1px solid #0e5895;
    border-radius: 2px;
}

header a:active {
    color: #fff;
    background-color: #0876b1;
}

.page .body {
    position: absolute;
    top: 45px;
    left: 0px;
    right: 0;
    bottom: 0;
    overflow: auto;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list li {
    position: relative;
    padding: 20px 10px;
    border-bottom: 1px solid #BCBCBC;
}

/* Increase list item tap area */
.list li > a {
    position: relative;
    display: block;
    padding: inherit;
    margin: -20px -10px;
    color: inherit;
}

.list li > a:active {
    background-color: #D7D7D7;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.robot {
    padding: 12px;
}

.robot>img {
    float: left;
    width: 150px;
    height: 150px;
}

.robot > p {
    clear: both;
}