<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.vohlevu.discovery"
      version="0.1.0">
    <name>Discovery</name>
    <description>Sample PhoneGap Discovery Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,discovery</keywords>
 
 
    <js-module src="www/discovery.js" name="Discovery">
        <clobbers target="window.discovery" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Discovery">
                <param name="android-package" value="com.vohlevu.discovery.DiscoveryPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>
        <source-file src="src/android/DiscoveryPlugin.java" target-dir="src/com/vohlevu/discovery" />
        <source-file src="src/android/NetInfo.java" target-dir="src/com/vohlevu/discovery/utils" />
     </platform>          
</plugin>